body {
  padding: 0;
  margin: 0;
}

.whole {
  position: fixed;
  background: #151D3B;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  display: flex;
  width: 400px;
  height: 400px;
  border-radius: 500px;
  background-image: url(clock.png);
  box-shadow: -14px 14px 28px #090d1b,
    14px -14px 28px #212d5b;
  justify-content: center;
  align-items: center;
}

.hour, .minute, .second {
  position: absolute;

}

.hour {
  height: 220px;
  width: 8px;
  border-radius: 6px 6px 0 0;
}

.minute {
  height: 280px;
  width: 6px;
  border-radius: 6px 6px 0 0;
}

.second {
  height: 300px;
  width: 2px;
  border-radius: 6px 6px 0 0;
}

.dot {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 71px;
  background: white;
  box-shadow:  -3px 3px 14px #080c18,
               3px -3px 14px #222e5e;
}

.hour-tip {
  background-color: #EEEEEE;
  height: 110px;
  width: 8px;
    border-radius: 6px 6px 0 0;
}

.minute-tip{
  background-color: #22577E;
  height: 140px;
  width: 6px;
    border-radius: 6px 6px 0 0;
}

.second-tip{
  background-color: #F25287;
  height: 150px;
  width: 2px;
    border-radius: 6px 6px 0 0;
}
